
<div class="container">
  <table>
    <caption>
      A dangerous place to get some flow-based devgramming done.
    </caption>
    <thead>
      <tr>
        <th>Product</th>
        <th>For Sale</th>
        <th>Kind</th>
        <th>Price</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th colspan="4">go to <a href="https://istrav.com">istrav.com</a> for our solutions</th>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <th>erpnomy</th>
        <td>5 employees, 500 products, branding removal</td>
        <td>SaaS</td>
        <td>$19/month</td>
      </tr>
      <tr>
        <th>desknomy</th>
        <td>1k accounts, 10k tickets, branding removal</td>
        <td>SaaS</td>
        <td>$19/month</td>
      </tr>
      <tr>
        <th>tubenomy</th>
        <td>100 channels, 5k videos, branding removal</td>
        <td>SaaS</td>
        <td>$19/month</td>
      </tr>
      <tr>
        <th>subvind</th>
        <td>full access to all our products</td>
        <td>License</td>
        <td>$2.5k/year</td>
      </tr>
    </tbody>
  </table>
  <h4>
    Mission Statement
  </h4>
  To do the things that one wants to do. To explore areas of language, code, and blueprints. To work hard on things that need to be worked on. To challenge oneself to achieve greater. To fall asleep knowing that an impact was made. To become a fully autonomous full-stack developer, a force multiplier, and beyond.
  <br />
  <br />
  <div style="float: right; z-index: 1; position: relative;">
    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/subvind/subvind" data-size="large" data-show-count="true" aria-label="Star subvind/subvind on GitHub">Star</a>
  </div>
  <h4>
    Project Goals
  </h4>
  0) a top <a href="https://subvind.com" target="_blank">devgrammer</a> portfolio in 100% plain old html, css, and javascript.
  <br />
  <br />
  1) a api <a href="https://api.subvind.com" target="_blank">server</a> coded in nest.js that manages database records in PostgreSQL, event-driven microservices with RabbitMQ, and integrates well with 3rd party APIs like stripe for payments and twilio for sms.
  <br />
  <br />
  2) a erpnomy <a href="https://istrav.erpnomy.com" target="_blank">frontend</a> and <a href="https://erpnomy.com" target="_blank">backend</a>&nbsp;module that covers a business' Enterprise Resource Planning (ERP) needs such as orders and inventory management plus it is capable of hosting many catalogs of products behind many storefronts.
  <br />
  <br />
  3) a desknomy <a href="https://istrav.desknomy.com" target="_blank">frontend</a> and <a href="https://desknomy.com" target="_blank">backend</a>&nbsp;module which has a support desk admin area for employees plus it is capable of supporting many suppliers and customers behind many support desks.
  <br />
  <br />
  4) a tubenomy <a href="https://istrav.tubenomy.com" target="_blank">frontend</a> and <a href="https://tubenomy.com" target="_blank">backend</a>&nbsp;module which has a dashboard for content creators plus it is capable of hosting many catalogs of videos behind many galleries.
  <br />
  <br />
  <br />
  <div style="float: right; z-index: 1; position: relative;">
    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/subvind" data-size="large" data-show-count="true" aria-label="Follow @subvind on GitHub">Follow @subvind</a>
  </div>
  <h4>
    Target Audience
  </h4>
  Someone who has a website or wants a website and wants to extend it to complement their business. They want their own catalog of products on their own website. They want their own catalog of youtube videos on their own website. They want to be able to do that and much more on their own website. Does this sound like you? 
  <br />
  <br />
  <!-- <h4>
    Obtain a license key
  </h4>
  Verify <a href="https://nodejs.org">node.js</a> package manager:
  <pre>$ npm --version</pre>
  Then install this <a href="https://www.npmjs.com/package/subvind" target="_blank">terminal user interface</a>:
  <pre>$ npm install --global subvind</pre>
  Read the <a href="https://github.com/subvind/subvind">manual</a> for documentation:
  <pre>$ subvind --help</pre>
  <br /> -->
  <h4>Contributors</h4>
  With ❤️ by Travis Burandt
  <hr>
</div>

