
<div class="container">
  <table>
    <caption>
      Full Stack Developer; coding since 2008.
    </caption>
    <thead>
      <tr>
        <th>Product</th>
        <th>For Sale</th>
        <th>Kind</th>
        <th>Value</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th colspan="4">go to <a href="https://burandt.istrav.com">burandt.istrav.com</a> for our µSaaS solutions</th>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <th><a href="https://homenomy.subvind.com">nomy.HOME</a></th>
        <td>unlimited content, activity, and members</td>
        <td>µSaaS</td>
        <td>$10K</td>
      </tr>
      <tr>
        <th><a href="https://erpnomy.subvind.com">nomy.ERP</a></th>
        <td>unlimited products, orders, and accounts</td>
        <td>µSaaS</td>
        <td>$40K</td>
      </tr>
      <tr>
        <th><a href="https://desknomy.subvind.com">nomy.DESK</a></th>
        <td>unlimited plans, tasks, and clients</td>
        <td>µSaaS</td>
        <td>$0K</td>
      </tr>
      <tr>
        <th><a href="https://tubenomy.subvind.com">nomy.TUBE</a></th>
        <td>unlimited videos, playlists, and subscriptions</td>
        <td>µSaaS</td>
        <td>$0K</td>
      </tr>
      <tr>
        <th>subvind</th>
        <td>full access to all our products</td>
        <td>License</td>
        <td>$50K</td>
      </tr>
    </tbody>
  </table>
  <h4>
    Mission Statement
  </h4>
  To do the things that one wants to do. To explore areas of language, code, and blueprints. To work hard on things that need to be worked on. To challenge oneself to achieve greater. To fall asleep knowing that an impact was made. To become a fully autonomous full-stack developer, force multiplier, and beyond.
  <br />
  <br />
  <h4>
    Software Agency
  </h4>
  Hello There!
  <br />
  Thank you for taking the time in reviewing us for your consideration.
  <br />
  <br />
  Websites are like sail boats. They require a main haul or backend API. They require a main mast or frontend interface. When put together and under the right wind-conditions/user-interations your boat/project can successfully navigate to it's destination.
  <br />
  <blockquote cite="">
    <a href="https://underwind.solutions">https://underwind.solutions</a>
  </blockquote>
  Say hello to underwind.solutions: where your project is not just another website; because we treat your project as if it were a high end yacht. We're not as expensive as you might think though, as we only charge per request. So no wind-under-you-sails/user-interactions then no movement/charge.
  <br />
  <br />
  Therefore, the better user experience we create, the more user-interactions your website will get, thus the more profit we can both make. 
  <br />
  <br />
  A wind wind situation :)
  <br />
  <br />
  kind regards,
  <br />
  underwind // subvind
  <br />
  <br />
  <div style="float: right; z-index: 1; position: relative;">
    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/subvind/subvind" data-size="large" data-show-count="true" aria-label="Star subvind/subvind on GitHub">Star</a>
  </div>
  <h4>
    Project Goals
  </h4>
  0) a top <a href="https://subvind.com" target="_blank">full stack developer</a> portfolio in 100% plain old html, css, and javascript.
  <br />
  <br />
  1) a api <a href="https://api.subvind.com" target="_blank">server</a> coded in nest.js that manages database records in PostgreSQL, event-driven microservices with RabbitMQ, and integrates well with 3rd party APIs like stripe for payments and twilio for sms.
  <br />
  <br />
  2) a homenomy <a href="https://istrav.homenomy.subvind.com" target="_blank">frontend</a> and <a href="https://homenomy.subvind.com" target="_blank">backend</a>&nbsp;module that covers settings and configuration for an oganization as well as analytics and members plus it is the splash landing homepage for everything installed org wide.
  <br />
  <br />
  3) a erpnomy <a href="https://istrav.erpnomy.subvind.com" target="_blank">frontend</a> and <a href="https://erpnomy.subvind.com" target="_blank">backend</a>&nbsp;module that covers a business' Enterprise Resource Planning (ERP) needs such as orders and inventory management plus it is capable of hosting many catalogs of products behind many storefronts.
  <br />
  <br />
  4) a desknomy <a href="https://istrav.desknomy.subvind.com" target="_blank">frontend</a> and <a href="https://desknomy.subvind.com" target="_blank">backend</a>&nbsp;module which has a client area or control panel for clients plus it is capable of handling many tasks behind many kanban boards.
  <br />
  <br />
  5) a tubenomy <a href="https://istrav.tubenomy.subvind.com" target="_blank">frontend</a> and <a href="https://tubenomy.subvind.com" target="_blank">backend</a>&nbsp;module which has a dashboard for content creators plus it is capable of hosting many catalogs of videos behind many galleries.
  <br />
  <br />
  <br />
  <div style="float: right; z-index: 1; position: relative;">
    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/subvind" data-size="large" data-show-count="true" aria-label="Follow @subvind on GitHub">Follow @subvind</a>
  </div>
  <h4>
    Target Audience
  </h4>
  Someone who has a website or wants a website and wants to extend it to complement their business. They want their own catalog of products on their own website. They want their own catalog of youtube videos on their own website. They want to be able to do that and much more on their own website. Does this sound like you? 
  <br />
  <br />
  <!-- <h4>
    Obtain a license key
  </h4>
  Verify <a href="https://nodejs.org">node.js</a> package manager:
  <pre>$ npm --version</pre>
  Then install this <a href="https://www.npmjs.com/package/subvind" target="_blank">terminal user interface</a>:
  <pre>$ npm install --global subvind</pre>
  Read the <a href="https://github.com/subvind/subvind">manual</a> for documentation:
  <pre>$ subvind --help</pre>
  <br /> -->
  <h4>Contributors</h4>
  With ❤️ by Travis Burandt
  <hr>
</div>

