
<div class="container">
  <table>
    <caption>
      A dangerous place to get some flow-based devgramming done.
    </caption>
    <thead>
      <tr>
        <th>Product</th>
        <th>For Sale</th>
        <th>Kind</th>
        <th>Price</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th colspan="4">go to <a href="https://istrav.com">istrav.com</a> for our solutions</th>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <th>subvind</th>
        <td>remove our subvind branding</td>
        <td>SaaS</td>
        <td>$100/mounth</td>
      </tr>
      <tr>
        <th>subvind</th>
        <td>full access to our projects</td>
        <td>License</td>
        <td>$2.5k/year</td>
      </tr>
    </tbody>
  </table>
  <h4>
    Mission Statement
  </h4>
  To do the things that one wants to do. To explore areas of language, code, and blueprints. To work hard on things that need to be worked on. To challenge oneself to achieve greater. To fall asleep knowing that an impact was made. To become a fully autonomous full-stack developer and beyond.
  <br />
  <br />
  <div style="float: right; z-index: 1; position: relative;">
    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/subvind/subvind" data-size="large" data-show-count="true" aria-label="Star subvind/subvind on GitHub">Star</a>
  </div>
  <h4>
    Project Goals
  </h4>
  0) a top <a href="https://subvind.com">devgrammer</a> portfolio in 100% plain old html, css, and javascript.
  <br />
  <br />
  1) a stream <a href="https://entropy.subvind.com">entropy</a> as an interesting water fountain except in pixels; it includes "water cooler" discussion topics to further conversations about subvind.
  <br />
  <br />
  2) a backend <a href="https://backend.subvind.com">server</a> coded in nest.js that manages ERP database records in PostgreSQL, event-driven microservices with RabbitMQ, and integrates well with 3rd party APIs like stripe for payments and twilio for sms.
  <br />
  <br />
  3) a frontend <a href="https://frontend.subvind.com">client</a> which is an ERP admin area for employees; because the backend is headless all customer facing content is done on it's own CMS.
  <br />
  <br />
  4) a main <a href="https://store.subvind.com">store</a> that showcases products.
  <br />
  <br />
  5) a sync <a href="https://inamlang.subvind.com">inamlang</a> lexer, parser, and interpreter that converts a strings of text (blocks of custom code formatted in xml, cli, ts, or json) and compiles them into a running script.
  <br />
  <br />
  6) a base <a href="https://autoide.subvind.com">autoide</a> for visualizing business logic in a diagram format; easily picture how ERP events are triggered, such as customer created or order recieved, and then handled throughout the system.
  <br />
  <br />
  7) a cli <a href="https://inam.subvind.com">inam</a> for importing/exporting data in and out of user/organizations and managing license keys.
  <br />
  <br />
  8) a tv <a href="https://flowtube.subvind.com">flowtube</a> with playlists that cover everything subvind.
  <br />
  <br />
  <div style="float: right; z-index: 1; position: relative;">
    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/subvind" data-size="large" data-show-count="true" aria-label="Follow @subvind on GitHub">Follow @subvind</a>
  </div>
  <h4>
    Target Audience
  </h4>
  Someone that is interested in flow-based programming with a developer mindset. They think in terms of nodes, anchors, and edges. They have an itching desire to make impovements. They are interested in seeing their code visually through diagram technology when it comes to building a program; yet, terminal user interfaces are their friend.
  <br />
  <br />
  <h4>
    How to use
  </h4>
  Verify <a href="https://nodejs.org">node.js</a> package manager:
  <pre>$ npm --version</pre>
  Then install this <a href="https://www.npmjs.com/package/inam" target="_blank">terminal user interface</a>:
  <pre>$ npm install --global inam</pre>
  Read the <a href="https://github.com/subvind/inam">manual</a> for documentation:
  <pre>$ inam --help</pre>
  <br />
  <h4>Contributors</h4>
  With ❤️ by Travis Burandt
  <hr>
</div>

