
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<title class="title">subvind: a dangerous place to get some flow-based devgramming done.</title>

<!-- Custom styles -->
<link rel="stylesheet" href="assets/css/terminal.css" />

<!-- Fontawesome styles -->
<link
  rel="stylesheet"
  href="assets/vendor/fontawesome-free/css/all.min.css"
/>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>