<div class="terminal-nav">
  <header class="terminal-logo">
    <div class="logo terminal-prompt" style="padding: 0;"><a href="#documentation" class="no-style">subvind -> documentation</a></div>
  </header>
</div>
<hr>
<partial src="documentation/devgrammer.html"></partial>
<hr>
<partial src="documentation/flow-based.html"></partial>
<hr>
<div class="terminal-nav">
  <header class="terminal-logo">
    <div class="logo terminal-prompt" style="padding: 0;"><a href="#documentation" class="no-style">subvind -> blueprints</a></div>
  </header>
</div>
<hr>
<partial src="blueprints/and-or-not.html"></partial>
<hr>

