<h4 id="documentation">Documentation</h4>
<nav>
  <ul>
    <li><a href="#devgrammer">devgrammer</a></li>
    <li><a href="#flow-based">flow-based</a></li>
    <li>
      <a href="#full-stack">full-stack</a>
      <ul>
        <li><a href="#frontend">frontend</a></li>
        <li><a href="#backend">backend</a></li>
      </ul>
    </li>
    <li>
      <a href="#fol">first order logic</a>
      <ul>
        <li><a href="#">constants</a></li>
        <li><a href="#">variables</a></li>
        <li><a href="#">predicates</a></li>
        <li><a href="#">negation</a></li>
        <li><a href="#">conjunction</a></li>
        <li><a href="#">disjunction</a></li>
        <li><a href="#">quantifiers</a></li>
      </ul>
    </li>
    <li>
      <a href="#fol">scripting language</a>
      <ul>
        <li><a href="#">ignore</a></li>
        <li><a href="#">automain</a></li>
        <li><a href="#">printer</a></li>
        <li><a href="#">sleep</a></li>
        <li><a href="#">types</a></li>
        <li><a href="#">functions</a></li>
        <li><a href="#">ack & no ack</a></li>
        <li><a href="#">conditional</a></li>
        <li><a href="#">loops</a></li>
        <li><a href="#">filesystem</a></li>
        <li><a href="#">modules</a></li>
        <li><a href="#">package manager</a></li>
        <li><a href="#">distribution</a></li>
      </ul>
    </li>
    <li>
      <a href="#protocols">protocols</a>
      <ul>
        <li><a href="#IP">IP</a></li>
        <li><a href="#TCP">TCP</a></li>
        <li><a href="#HTTP">HTTP</a></li>
        <li><a href="#ORM">ORM</a></li>
        <li><a href="#MVC">MVC</a></li>
        <li><a href="#CRUD">CRUD</a></li>
        <li><a href="#AMQP">AMQP</a></li>
      </ul>
    </li>
    <li>
      <a href="#algorithms">algorithms</a>
      <ul>
        <li><a href="#sort">sort</a></li>
        <li><a href="#search">search</a></li>
        <li><a href="#cycle">cycle</a></li>
        <li><a href="#dijkstra">dijkstra</a></li>
        <li><a href="#raft">raft</a></li>
      </ul>
    </li>
  </ul>
</nav>
<h4 id="blueprints">Blueprints</h4>
<nav>
  <ul>
    <li><a href="#\">\|/</a> // and or not</li>
    <li><a href="#**">**</a> // question comment</li>
    <li><a href="#$$">$$$</a> // answer comment</li>
    <li><a href="#automain">AZ</a> // automain</li>
    <li><a href="#//">//</a> // print</li>
    <li><a href="#...">...</a> // sleep</li>
    <li><a href="#(Y{})">(Y{})</a> // functions</li>
    <li><a href="#NZ">NZ</a> // ack & no ack</li>
    <li><a href="#FLE">FLE</a> // conditional</li>
    <li><a href="#OQ">OQ</a> // loops</li>
    <li><a href="#[]">[]</a> // modules</li>
    <li><a href="#M">M</a> // import</li>
    <li><a href="#W">W</a> // export</li>
    <li><a href="#/\">/\</a> // distribution</li>
  </ul>
</nav>
<h4 id="modules">Modules</h4>
<nav>
  <ul>
    <li><a href="#menu">menus</a></li>
    <li><a href="#users">users</a></li>
    <li><a href="#subscribers">subscribers</a></li>
    <li>
      <a href="#message-board">message board</a>
      <ul>
        <li><a href="#categories">categories</a></li>
        <li><a href="#topics">topics</a></li>
        <li><a href="#replies">replies</a></li>
      </ul>
    </li>
    <li><a href="#products">products</a></li>
    <li><a href="#carts">carts</a></li>
    <li><a href="#tags">tags</a></li>
  </ul>
</nav>
<h4 id="examples">Examples</h4>
<nav>
  <ul>
    <li><a href="#bank">bank</a></li>
    <li><a href="#traffic-signals">traffic signals</a></li>
    <li><a href="#bakery">bakery</a></li>
    <li><a href="#coffee-shop">coffee shop</a></li>
    <li><a href="#restaraunt">restaraunt</a></li>
    <li><a href="#car-factory">car factory</a></li>
  </ul>
</nav>
