<div class="container">
  <div class="terminal-nav">
    <header class="terminal-logo">
      <div class="logo terminal-prompt"><a href="/" class="no-style">subvind</a></div>
    </header>
    <nav class="terminal-menu">
      <ul vocab="https://schema.org/" typeof="BreadcrumbList">
        <li><a href="https://github.com/subvind/ucimecu" class="menu-item active"><span>top</span></a><meta property="position"></li>
        <li property="itemListElement" typeof="ListItem"><a href="https://github.com/subvind/entropy" property="item" typeof="WebPage" class="menu-item"><span property="name">stream</span></a><meta property="position" content="0"></li>
        <li property="itemListElement" typeof="ListItem"><a href="https://github.com/subvind/FlowERP" property="item" typeof="WebPage" class="menu-item"><span property="name">backend</span></a><meta property="position" content="1"></li>
        <li property="itemListElement" typeof="ListItem"><a href="https://github.com/subvind/CommandERP" property="item" typeof="WebPage" class="menu-item"><span property="name">frontend</span></a><meta property="position" content="2"></li>
        <li property="itemListElement" typeof="ListItem"><a href="https://github.com/subvind/inomlang" property="item" typeof="WebPage" class="menu-item"><span property="name">sync</span></a><meta property="position" content="3"></li>
        <li property="itemListElement" typeof="ListItem"><a href="https://github.com/subvind/autoide" property="item" typeof="WebPage" class="menu-item"><span property="name">base</span></a><meta property="position" content="4"></li>
        <li property="itemListElement" typeof="ListItem"><a href="https://github.com/subvind/inom" property="item" typeof="WebPage" class="menu-item"><span property="name">cli</span></a><meta property="position" content="5"></li>
        <li property="itemListElement" typeof="ListItem"><a href="https://github.com/subvind/flowtube" property="item" typeof="WebPage" class="menu-item"><span property="name">tv</span></a><meta property="position" content="6"></li>
        <li style="height: 28px;"><span></span></li>
      </ul>
    </nav>
  </div>
</div>
