<div class="container">
  <div class="terminal-nav">
    <header class="terminal-logo">
      <div class="logo terminal-prompt"><a href="/" class="no-style">subvind</a></div>
    </header>
    <nav class="terminal-menu">
      <ul vocab="https://schema.org/" typeof="BreadcrumbList">
        <li><a href="https://github.com/subvind/subvind" class="menu-item active" target="_blank"><span>products:</span></a><meta property="position"></li>
        <li property="itemListElement" typeof="ListItem"><a href="https://erpnomy.com" property="item" typeof="WebPage" class="menu-item"><span property="name">nomy.ERP</span></a><meta property="position" content="0"></li>
        <li property="itemListElement" typeof="ListItem"><a href="https://desknomy.com" property="item" typeof="WebPage" class="menu-item"><span property="name">nomy.DESK</span></a><meta property="position" content="1"></li>
        <li property="itemListElement" typeof="ListItem"><a href="https://tubenomy.com" property="item" typeof="WebPage" class="menu-item"><span property="name">nomy.TUBE</span></a><meta property="position" content="2"></li>
      </ul>
    </nav>
  </div>
  <!-- <div style="margin-top: -2.5em;">
    <nav class="terminal-menu">
      <ul vocab="https://schema.org/" typeof="BreadcrumbList">
        <li property="itemListElement" typeof="ListItem"><a href="https://github.com/subvind/DisplayERP" property="item" typeof="WebPage" class="menu-item"><span property="name">main</span></a><meta property="position" content="3"></li>
        <li property="itemListElement" typeof="ListItem"><a href="https://github.com/subvind/inam" property="item" typeof="WebPage" class="menu-item"><span property="name">cli</span></a><meta property="position" content="6"></li>
        <li property="itemListElement" typeof="ListItem"><a href="https://github.com/subvind/flowtube" property="item" typeof="WebPage" class="menu-item"><span property="name">tv</span></a><meta property="position" content="7"></li>
        <li style="height: 28px;"><span></span></li>
      </ul>
    </nav>
  </div> -->
</div>
